h1 {
	font-family: Courier New;
	color: green;
	text-shadow: 1px 1px 2px black;
	font-weight: 100;
	font-size: 20px;
	width: 100%;
    text-align:center;

}

h2 {
	font-family: Courier New;
	color: green;
	font-size: 15px;
	width: 100%;
    text-align:center;

}

p {
	font-family: Courier New;
	font-size: 12px;
	color: green;
	width: 100%;
    text-align:center;
}

body {
    background-color: black;
}

#quote {
	color: Courier New;
	font-family: Corsiva;
	font-style: italic;
	font-size: 12px;
	text-align: center;
}
